<mat-toolbar>
    <span>Buy Products</span>
  </mat-toolbar>
  <mat-card class="my-card">
     <mat-card-content>
        <form class="my-form" (submit)="onFormSubmit()" >
          
      <mat-form-field class="example-full-width">
            <input matInput placeholder="User Name" aria-label="User Name" [matAutocomplete]="userAuto" 
            [formControl]="userCtrl">
            <mat-autocomplete #userAuto="matAutocomplete">
               <mat-option *ngFor="let user of filteredUsers | async" [value]="user.fullName" 
               (click)="onSelectUser(user.id)">
                  <span>{{user.fullName}}</span> |
                  <small>{{user.mobileNumber}}</small>
               </mat-option>
            </mat-autocomplete>
         </mat-form-field>

         <mat-form-field class="example-full-width">
               <input matInput placeholder="Product Code" aria-label="Product Code" [matAutocomplete]="auto" [formControl]="productCtrl">
               <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let product of filteredProducts | async" [value]="product.name" 
                  (click)="onSelectProduct(product.id)">
                     <img class="example-option-img" aria-hidden [src]="imageUrl + product.images[0]" height="25">
                     <span>{{product.name}}</span> |
                     <small>{{product.description}}</small> |
                     <small>{{product.company.value}}</small> |
                     <small>{{product.tags}}</small>
                  </mat-option>
               </mat-autocomplete>
          </mat-form-field>
          
         <mat-form-field class="full-width">
            <mat-label>Quantity</mat-label>
            <input type = "text" name = "quantity" [(ngModel)]="transaction.quantity" 
            (ngModelChange)="valueChangeForQuantity(transaction.quantity)"
            placeholder = "Enter quantity" matInput >
         </mat-form-field>
         <mat-form-field class="full-width">
           <mat-label>Price Per Item</mat-label>
           <input type = "text" name = "perItemPrice" [(ngModel)]="transaction.perItemPrice"  
           (ngModelChange)="valueChangeForPerItemPrice(transaction.perItemPrice)"
           placeholder = "Enter Price Per Item" matInput >
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Total Amount: </mat-label>
            <input type = "text" name = "totalAmount" class = "totalAmount" [readonly]="true" [(ngModel)]="transaction.totalAmount"  
             matInput >
         </mat-form-field>
         <mat-form-field class="full-width">
            <mat-label>Business Points</mat-label>
            <input type = "text" name = "businessPoint" [(ngModel)]="transaction.businessPoint" placeholder = "Enter Business Point" matInput >
         </mat-form-field>
         <mat-form-field class="full-width">
            <mat-label>Catalog</mat-label>
            <input type = "text" name = "catalog" [(ngModel)]="catalog.code" placeholder = "Enter Catalog Number" matInput >
         </mat-form-field>
         
        <mat-card-actions>
          <button  mat-raised-button color="primary" style="margin-bottom: 5px">Submit</button>
          <button  mat-raised-button color="warn" [routerLink]="'/transactions'" style="margin-bottom: 5px">Cancel</button>
         </mat-card-actions>
        </form>
     </mat-card-content>
     
  </mat-card>